In [390]:
import numpy as np
import pandas as pd

Tasks on the NIFTY datasets:

1. In 2020, in how many days was the NIFTY50 volatile (high > 105% of low)

2. In 2020, in how many days was the NIFTYNEXT50 volatile (high > 105% of low)

3. In 2020, how many days belonged to the four classes NIFTY50 volatile / non-volatile and NIFTYNext50 volatile / non-volatile

4. Compute the mean, median, std, var of closing values for each weekday in NIFTY50 for 2020

5. Compute the mean, median, std, var of closing values for the first three month's individually in NIFTY50 for 2020

6. On the days in which NIFTY50 closed higher than the open, what was the mean of (close - open) for NIFTYNext50

7. In 2020, how many days had the day's high lower than the previous day's low in NIFTY50

8. In 2020, on how many days did the day's close exceed the 30 day moving average in NIFTY50 (exclude first month)

# **Assess the dataset**

In [281]:
nifty_50 = pd.read_csv('NIFTY 50_2020.csv', index_col = 0, usecols= [0, 1, 2, 3, 4])
nifty_next_50 = pd.read_csv('NIFTYNEXT 50_2020.csv', index_col = 0, usecols= [0, 1, 2, 3, 4])

In [282]:
nifty_50

                 Open      High       Low     Close
Date
01-Jan-2020  12202.15  12222.20  12165.30  12182.50
02-Jan-2020  12198.55  12289.90  12195.25  12282.20
03-Jan-2020  12261.10  12265.60  12191.35  12226.65
06-Jan-2020  12170.60  12179.10  11974.20  11993.05
07-Jan-2020  12079.10  12152.15  12005.35  12052.95
...               ...       ...       ...       ...
23-Dec-2020  13473.50  13619.45  13432.20  13601.10
24-Dec-2020  13672.15  13771.75  13626.90  13749.25
28-Dec-2020  13815.15  13885.30  13811.55  13873.20
29-Dec-2020  13910.35  13967.60  13859.90  13932.60
30-Dec-2020  13980.90  13997.00  13864.95  13981.95

[251 rows x 4 columns]

In [283]:
nifty_50.describe()

               Open          High           Low         Close
count    251.000000    251.000000    251.000000    251.000000
mean   11164.474502  11243.541434  11054.680876  11150.238645
std     1400.878285   1361.138014   1430.740072   1402.612608
min     7735.150000   8036.950000   7511.100000   7610.250000
25%    10113.650000  10225.100000  10038.800000  10129.150000
50%    11363.300000  11418.500000  11289.800000  11322.500000
75%    12116.950000  12153.425000  12032.300000  12085.000000
max    13980.900000  13997.000000  13864.950000  13981.950000

In [284]:
nifty_50.info()

<class 'pandas.core.frame.DataFrame'>
Index: 251 entries, 01-Jan-2020 to 30-Dec-2020
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    251 non-null    float64
 1   High    251 non-null    float64
 2   Low     251 non-null    float64
 3   Close   251 non-null    float64
dtypes: float64(4)
memory usage: 9.8+ KB

# **Task 1:**

*In 2020, in how many days was the NIFTY50 volatile (high > 105% of low)*

In [285]:
volatility = nifty_50['High'] > 1.05 * nifty_50['Low']

In [286]:
nifty_50[(volatility)]

                 Open      High      Low    Close
Date
12-Mar-2020  10039.95  10040.75  9508.00  9590.15
13-Mar-2020   9107.60  10159.40  8555.15  9955.20
17-Mar-2020   9285.40   9403.80  8915.60  8967.05
18-Mar-2020   9088.45   9127.55  8407.05  8468.80
19-Mar-2020   8063.30   8575.45  7832.55  8263.45
20-Mar-2020   8284.45   8883.00  8178.20  8745.45
23-Mar-2020   7945.70   8159.25  7583.60  7610.25
24-Mar-2020   7848.30   8036.95  7511.10  7801.05
25-Mar-2020   7735.15   8376.75  7714.75  8317.85
26-Mar-2020   8451.00   8749.05  8304.90  8641.45
27-Mar-2020   8949.10   9038.90  8522.90  8660.25
07-Apr-2020   8446.30   8819.40  8360.95  8792.20
08-Apr-2020   8688.90   9131.70  8653.90  8748.75

In [287]:
nifty_50['volatility'] = np.where((volatility), 'Volatile', 'Non-Volatile')

In [288]:
nifty_50[nifty_50.volatility == 'Volatile']['volatility'].count()

13

**In the previous year 2020, NIFTY 50 is *Volatile* in only 13 days**.

#**Task 2:**
*In 2020, in how many days was the NIFTYNEXT50 Volatile*

In [417]:
nifty_next_50

                 Open      High       Low     Close    volatility
Date
01-Jan-2020  28353.45  28436.80  28272.30  28293.35  Non-Volatile
02-Jan-2020  28325.45  28552.80  28314.55  28535.40  Non-Volatile
03-Jan-2020  28493.60  28585.90  28385.60  28478.95  Non-Volatile
06-Jan-2020  28316.45  28338.35  27831.35  27894.90  Non-Volatile
07-Jan-2020  28049.55  28347.30  27971.75  28101.20  Non-Volatile
...               ...       ...       ...       ...           ...
23-Dec-2020  31489.55  31994.95  31342.45  31949.80  Non-Volatile
24-Dec-2020  32220.50  32322.55  31931.75  32068.55  Non-Volatile
28-Dec-2020  32261.90  32408.50  32230.75  32351.05  Non-Volatile
29-Dec-2020  32507.00  32541.90  32153.85  32331.50  Non-Volatile
30-Dec-2020  32446.10  32508.55  32166.50  32464.40  Non-Volatile

[251 rows x 5 columns]

In [419]:
nifty_next_50['volatility'] = np.where((nifty_next_50['High'] > 1.05*nifty_next_50['Low']), 'Volatile', 'Non-Volatile')

In [420]:
nifty_next_50[nifty_next_50.volatility == 'Volatile']['volatility'].count()

15

**In NIFTY NEXT 50 for the year 2020, only 15 days are volatile.**

# **Task 3**
*In 2020, how many days belonged to the four classes NIFTY50 volatile / non-volatile and NIFTYNext50 volatile / non-volatile*

In [359]:
nifty = pd.concat([nifty_50, nifty_next_50], axis = 1, keys = ['nifty_50', 'nifty_next_50'])

In [360]:
nifty

            nifty_50                      ... nifty_next_50
                Open      High       Low  ...           Low     Close    volatility
Date                                      ...
2020-01-01  12202.15  12222.20  12165.30  ...      28272.30  28293.35  Non-Volatile
2020-01-02  12198.55  12289.90  12195.25  ...      28314.55  28535.40  Non-Volatile
2020-01-03  12261.10  12265.60  12191.35  ...      28385.60  28478.95  Non-Volatile
2020-01-06  12170.60  12179.10  11974.20  ...      27831.35  27894.90  Non-Volatile
2020-01-07  12079.10  12152.15  12005.35  ...      27971.75  28101.20  Non-Volatile
...              ...       ...       ...  ...           ...       ...           ...
2020-12-23  13473.50  13619.45  13432.20  ...      31342.45  31949.80  Non-Volatile
2020-12-24  13672.15  13771.75  13626.90  ...      31931.75  32068.55  Non-Volatile
2020-12-28  13815.15  13885.30  13811.55  ...      32230.75  32351.05  Non-Volatile
2020-12-29  13910.35  13967.60  13859.90  ...      32153.85  32331.50  Non-Volatile
2020-12-30  13980.90  13997.00  13864.95  ...      32166.50  32464.40  Non-Volatile

[251 rows x 10 columns]

In [362]:
nifty.describe()

           nifty_50                ... nifty_next_50
               Open          High  ...           Low         Close
count    251.000000    251.000000  ...    251.000000    251.000000
mean   11164.474502  11243.541434  ...  26482.819522  26702.107968
std     1400.878285   1361.138014  ...   2862.304934   2804.449229
min     7735.150000   8036.950000  ...  18384.050000  18524.650000
25%    10113.650000  10225.100000  ...  24955.350000  25146.600000
50%    11363.300000  11418.500000  ...  26953.950000  27142.900000
75%    12116.950000  12153.425000  ...  28278.525000  28481.625000
max    13980.900000  13997.000000  ...  32230.750000  32464.400000

[8 rows x 8 columns]

In [364]:
print(nifty['nifty_50'].groupby('volatility')['volatility'].count(), nifty['nifty_next_50'].groupby('volatility')['volatility'].count())

volatility
Non-Volatile    238
Volatile         13
Name: volatility, dtype: int64 volatility
Non-Volatile    236
Volatile         15
Name: volatility, dtype: int64

# **Task 4**
*Compute the mean, median, std, var of closing values for each weekday in NIFTY50 for 2020*

In [342]:
nifty_50.index = pd.to_datetime(nifty_50.index)

In [343]:
dow = nifty_50.copy()

In [344]:
dow['dayofweek'] = dow.index.dayofweek

In [345]:
dow

                Open      High       Low     Close    volatility  dayofweek
Date
2020-01-01  12202.15  12222.20  12165.30  12182.50  Non-Volatile          2
2020-01-02  12198.55  12289.90  12195.25  12282.20  Non-Volatile          3
2020-01-03  12261.10  12265.60  12191.35  12226.65  Non-Volatile          4
2020-01-06  12170.60  12179.10  11974.20  11993.05  Non-Volatile          0
2020-01-07  12079.10  12152.15  12005.35  12052.95  Non-Volatile          1
...              ...       ...       ...       ...           ...        ...
2020-12-23  13473.50  13619.45  13432.20  13601.10  Non-Volatile          2
2020-12-24  13672.15  13771.75  13626.90  13749.25  Non-Volatile          3
2020-12-28  13815.15  13885.30  13811.55  13873.20  Non-Volatile          0
2020-12-29  13910.35  13967.60  13859.90  13932.60  Non-Volatile          1
2020-12-30  13980.90  13997.00  13864.95  13981.95  Non-Volatile          2

[251 rows x 6 columns]

In [346]:
#Statistical value of all Monday for 2020

nifty_50[dow.dayofweek == 0]['Close'].describe()

count       48.000000
mean     11078.794792
std       1397.367088
min       7610.250000
25%      10275.262500
50%      11260.350000
75%      11946.475000
max      13873.200000
Name: Close, dtype: float64

In [347]:
#Statistical value of all Tuesday for 2020

nifty_50[dow.dayofweek == 1]['Close'].describe()

count       50.000000
mean     11168.442000
std       1465.728013
min       7801.050000
25%      10110.512500
50%      11353.925000
75%      12037.837500
max      13932.600000
Name: Close, dtype: float64

In [348]:
#Statistical value of all Wednesday for 2020

nifty_50[dow.dayofweek == 2]['Close'].describe()

count       53.000000
mean     11159.272642
std       1463.050742
min       8253.800000
25%      10116.150000
50%      11308.400000
75%      12106.900000
max      13981.950000
Name: Close, dtype: float64

In [349]:
#Statistical value of all Thursday for 2020

nifty_50[dow.dayofweek == 3]['Close'].describe()

count       51.000000
mean     11169.667647
std       1373.505995
min       8263.450000
25%      10060.375000
50%      11416.950000
75%      12129.125000
max      13749.250000
Name: Close, dtype: float64

In [350]:
#Statistical value of all Friday for 2020

nifty_50[dow.dayofweek == 4]['Close'].describe()

count       47.000000
mean     11127.001064
std       1366.724669
min       8083.800000
25%      10193.275000
50%      11214.050000
75%      12105.900000
max      13760.550000
Name: Close, dtype: float64

# **Task 5**
*Compute the mean, median, std, var of closing values for the first three month's seperately in NIFTY50 for 2020*

In [351]:
dow['month'] = dow.index.month

In [353]:
dow

                Open      High       Low  ...    volatility dayofweek  month
Date                                      ...
2020-01-01  12202.15  12222.20  12165.30  ...  Non-Volatile         2      1
2020-01-02  12198.55  12289.90  12195.25  ...  Non-Volatile         3      1
2020-01-03  12261.10  12265.60  12191.35  ...  Non-Volatile         4      1
2020-01-06  12170.60  12179.10  11974.20  ...  Non-Volatile         0      1
2020-01-07  12079.10  12152.15  12005.35  ...  Non-Volatile         1      1
...              ...       ...       ...  ...           ...       ...    ...
2020-12-23  13473.50  13619.45  13432.20  ...  Non-Volatile         2     12
2020-12-24  13672.15  13771.75  13626.90  ...  Non-Volatile         3     12
2020-12-28  13815.15  13885.30  13811.55  ...  Non-Volatile         0     12
2020-12-29  13910.35  13967.60  13859.90  ...  Non-Volatile         1     12
2020-12-30  13980.90  13997.00  13864.95  ...  Non-Volatile         2     12

[251 rows x 7 columns]

In [354]:
#statistical values of month JANUARY for 2020
nifty_50[dow.month == 1]['Close'].describe()

count       23.000000
mean     12183.065217
std        124.213436
min      11962.100000
25%      12081.350000
50%      12182.500000
75%      12269.500000
max      12362.300000
Name: Close, dtype: float64

In [355]:
#statistical values of month FEBRUARY for 2020
nifty_50[dow.month == 2]['Close'].describe()

count       20.00000
mean     11934.47250
std        253.07265
min      11201.75000
25%      11775.40000
50%      12038.65000
75%      12109.28750
max      12201.20000
Name: Close, dtype: float64

In [356]:
#statistical values of month MARCH for 2020
nifty_50[dow.month == 3]['Close'].describe()

count       21.000000
mean      9426.311905
std       1252.820469
min       7610.250000
25%       8468.800000
50%       8967.050000
75%      10458.400000
max      11303.300000
Name: Close, dtype: float64

#**Task 6**
*On the days in which NIFTY50 closed higher than the open, what was the mean of (close - open) for NIFTYNext50*

In [367]:
higher_closing = nifty['nifty_next_50'][nifty_50.Close > nifty_50.Open]

In [370]:
higher_closing

                Open      High       Low     Close    volatility
Date
2020-01-02  28325.45  28552.80  28314.55  28535.40  Non-Volatile
2020-01-08  27739.05  28145.40  27738.40  28113.55  Non-Volatile
2020-01-09  28397.10  28517.05  28349.35  28484.30  Non-Volatile
2020-01-13  28669.35  28807.45  28631.25  28783.55  Non-Volatile
2020-01-14  28836.50  28917.00  28770.00  28845.25  Non-Volatile
...              ...       ...       ...       ...           ...
2020-12-23  31489.55  31994.95  31342.45  31949.80  Non-Volatile
2020-12-24  32220.50  32322.55  31931.75  32068.55  Non-Volatile
2020-12-28  32261.90  32408.50  32230.75  32351.05  Non-Volatile
2020-12-29  32507.00  32541.90  32153.85  32331.50  Non-Volatile
2020-12-30  32446.10  32508.55  32166.50  32464.40  Non-Volatile

[121 rows x 5 columns]

In [375]:
(higher_closing.Close - higher_closing.Open).mean()

157.1752066115701

# **Task 7**
*In 2020, how many days had the day's high lower than the previous day's low in NIFTY50*

In [404]:
np.count_nonzero(nifty_50.High.values[1:] < nifty_50.Low.values[:-1])

15